  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
       <div class="navbar-header">
          <a class="navbar-brand" href="/profile">Profile</a>
          <a class="navbar-brand" href="/highscores">High Scores</a>
          <a class="navbar-brand" href="/logout">Logout</a>
       </div>
     </div>
   </nav>