<p>Placeholder header navigation:</p>
<ul>
	<li><a href="/">WorldStats homepage</a></li>
	<li><a href="/players/new">Create new account</a></li>
	<li><a href="/login">Login to your account</a></li>
	<li><a href="/profile">See your profile</a></li>
	<li><a href="/scores">See the high scores</a></li>
	<li><a href="/pregame">Start playing</a></li>
	<li><a href="/logout">Logout</a></li>
</ul>