<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
	<title>Game Over</title>
</head>
<header>
	<% include partials/headerLoggedIn.ejs %>
</header>
<body>
	<div class="padMe">
		<h1>Game over!</h1>
		<h2>Congratulations!  Your final score is: <%=ejsGameStats.finalScore%></h2>
<br>
	<form action="/startover" method="GET">
		<button>Play again</button>
	</form>
</div>
</body>
</html>