<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
	<title>WorldStats Login</title>
</head>
<header>
	<% include partials/header.ejs %>
</header>
<body>
	<h1>Login page</h1>
</body>
</html>