<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
	<title>WorldStats Login</title>
</head>
<header>
	<% include partials/headerLoggedOut.ejs %>
</header>
<body class = "full-login padMe">
	<h1>Please log in</h1>
	<form action="/login" method="POST">
		<input type="text" name="loginScreenName" placeholder="Screen name"> <br>
		<input type="password" name="loginPassword" placeholder="Password"> <br>
		<button>Login</button>
	</form>

</body>
</html>