<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
	<title>Pregame</title>
</head>
<header>
	<% include partials/header.ejs %>
</header>
<body>
	<h1>Pregame page</h1>
<h3>In time, this should be for logged in players only...</h3>


<!-- 	<form action="/login" method="POST">
		<input type="text" name="loginScreenName" placeholder="Screen name">
		<input type="password" name="loginPassword" placeholder="Password">
		<button>Login</button>
	</form> -->
</body>
</html>