<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
	<title>Profile</title>
</head>
<header>
	<% include partials/header.ejs %>
</header>
<body>
	<h1>Profile page</h1>

	<h2>Here's your information...</h2>
	<ul>
	<li>Screen name: <%=ejsProfile[0].screen_name%></li>
	<li>Email: <%=ejsProfile[0].email%></li>
	<li>Cumulative score: <%=ejsProfile[0].cumulative_score%></li>
	</ul>

	


	<h2>Here are your best scores</h2>
	<%for (var i = 0; i < ejsProfile[1].length; i++) {
		%> Score <%=ejsProfile[1][i].dataValues.game_score%>
	<% }; %>


<!-- 	<form action="/login" method="POST">
		<input type="text" name="loginScreenName" placeholder="Screen name">
		<input type="password" name="loginPassword" placeholder="Password">
		<button>Login</button>
	</form> -->
</body>
</html>