<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
	<title>WorldStats Sign Up</title>
</head>
<header>
	<% include partials/headerLoggedOut.ejs %>
</header>
<body class="padMe">
	<h1>Welcome to WorldStats.</h1>
	<h1>Please enter your information to create a new account.</h1>
	<form action="/players" method="POST">
		<input type="text" name="signupScreenName" placeholder="Screen name">
		<input type="text" name="signupEmail" placeholder="Email">	
		<input type="password" name="signupPassword" placeholder="Password">
		<button>Create account</button>
	</form>
</body>
</html>