/*
These first classes are for SORTABLE module.  DO NOT CHANGE */
ul.source, ul.target {
  min-height: 50px;
  margin: 0px 25px 10px 0px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  list-style-type: none;
  list-style-position: inside;
  font-size: 30px;
}
ul.source {
  border-color: #f8e0b1;
    font-size: 30px;
}
ul.target {
  border-color: #add38d;
    font-size: 30px;
}
.source li, .target li {
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 30px;
}
.source li {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  color: #c09853;
    font-size: 30px;
}
.target li {
  background-color: #ebf5e6;
  border: 1px solid #d6e9c6;
  color: #468847;
    font-size: 30px;
}
.sortable-dragging {
  border-color: #ccc !important;
  background-color: #4738EB !important;
  color: #bbb !important;
    font-size: 30px;
}
.sortable-placeholder {
  height: 40px;
    font-size: 30px;
}
.source .sortable-placeholder {
  border: 2px dashed #f8e0b1 !important;
  background-color: #fefcf5 !important;
    font-size: 30px;
}
.target .sortable-placeholder {
  border: 2px dashed #add38d !important;
  background-color: #f6fbf4 !important;
    font-size: 30px;
}

/* These classes I added for ANSWER page */

.correct {
  background-color: #37C440 ;
}

.wrong {
  background-color: #DE3139;
}

.large-text
{ font-size: 30px;
padding-left: 1px;
margin-left: 100px;
padding-right: 10px;
}

.horizontal-borders-regular {
  border-top-width: 3 px;
  border-color: yellow;
  border-style: solid;
}

.horizontal-borders-easy {
  border-top-width: 3 px;
  border-color: green;
  border-style: solid;
}

.horizontal-borders-insane {
  border-top-width: 3 px;
  border-color: red;
  border-style: solid;
}

/* Bootstrap template classes */

body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.full {
    background: url('/images/IntlFlags.jpg') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.full-login {
    background: url('/images/world-in-your-hands.jpg') center center fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: contain;
    -o-background-size: cover;
}


.overlay-text {
    font-size: 4em;
    font-family: helvetica; 
    color: white;
    margin-top: 140px;
}

.box-text {
    background-color: #083ACF;
    font-size: 2em;
    font-family: helvetica; 
    color: white;
    margin-top: 50px;
}

.sg-easy {
  background-color: green;
}

.sg-regular {
  background-color: yellow;
}

.sg-hard {
  background-color: red;
}

.spaced-out {
  padding-top: 50px;
}

.navbar {
  background-color: #083ACF;
}

.sg-no-bullets {
  list-style-type: none;
}

